body {
  background-image: url("../img/background-1.jpg");
  font-family: "Lobster", cursive;
}

#loadingPage {
  font-family: "Lobster", cursive;
}
#loadingPage h1 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #365899;
  text-align: center;
  font-size: 80px;
}
#loadingPage h1 img {
  padding-right: 10px;
  height: 80px;
}

#loadingCanvas {
  display: block;
  margin: auto;
  width: 500px;
  height: 30px;
  border-radius: 50px;
}

#loadMinion {
  position: relative;
  width: 50px;
}

#load1 {
  display: none;
  text-align: center;
}

#btnPlayGame {
  cursor: pointer;
  font-family: "Lobster", cursive;
  font-size: 20px;
  color: #1c3158;
  display: block;
  margin: 40px auto;
  padding: 5px 20px;
  border-radius: 50px;
  transition: 0.5s;
  display: none;
}

#btnPlayGame:hover {
  background-color: #1c3158;
  color: white;
}

.playMusic {
  display: flex;
  justify-content: center;
}

#music {
  cursor: pointer;
  width: 48px;
  height: 40px;
  /* background-color: aqua; */
}

#music div {
  display: inline-block;
  height: 100%;
  width: 8px;
  float: left;
  margin: auto;
  border-radius: 50px;
}

.musicBar1 {
  animation: delay 0.7s infinite ease-in-out;
  background-color: #754fa0;
}

.musicBar2 {
  animation: delay 0.7s infinite ease-in-out;
  background-color: #09b7bf;
  animation-delay: 0.2s;
}

.musicBar3 {
  animation: delay 0.7s infinite ease-in-out;
  background-color: #90d36b;
  animation-delay: 0.3s;
}

.musicBar4 {
  animation: delay 0.7s infinite ease-in-out;
  background-color: #f2d40d;
  animation-delay: 0.4s;
}

.musicBar5 {
  animation: delay 0.7s infinite ease-in-out;
  background-color: #fcb12b;
  animation-delay: 0.5s;
}

.musicBar6 {
  animation: delay 0.7s infinite ease-in-out;
  background-color: #ed1b72;
  animation-delay: 0.6s;
}

@keyframes delay {
  0%, 50%, 100% {
    transform: scaleY(0.1);
  }
  20% {
    transform: scaleY(1);
  }
}
#stopMusic {
  cursor: pointer;
  display: none;
  width: 48px;
  height: 40px;
  /* background-color: aqua; */
}

#stopMusic div {
  display: inline-block;
  position: relative;
  height: 4px;
  width: 8px;
  top: 18px;
  float: left;
}

.stopMusicBar1 {
  background-color: #754fa0;
}

.stopMusicBar2 {
  background-color: #09b7bf;
}

.stopMusicBar3 {
  background-color: #90d36b;
}

.stopMusicBar4 {
  background-color: #f2d40d;
}

.stopMusicBar5 {
  background-color: #fcb12b;
}

.stopMusicBar6 {
  background-color: #ed1b72;
}

.scoreBroad {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.scoreCat {
  display: flex;
  justify-content: end;
  align-items: baseline;
}
.scoreCat img {
  width: 50px;
}

.scoreDog {
  display: flex;
  justify-content: start;
  align-items: baseline;
}
.scoreDog img {
  width: 50px;
}

#broad {
  display: none;
}

#header {
  font-family: "Lobster", cursive;
}
#header h1 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #365899;
  text-align: center;
  font-size: 50px;
}
#header h1 img {
  padding-right: 10px;
  height: 50px;
}

#cocaro {
  text-align: center;
  padding: 20px;
}

.btnCaro {
  cursor: grab;
  font-family: "Lobster", cursive;
  font-size: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #365899;
  width: 50px;
  height: 50px;
  border: 2px groove;
}

.btnCaro:focus {
  cursor: grabbing;
}

.btnCaro:hover {
  background-color: rgb(184, 184, 183);
}

.btnCaro:disabled {
  background-color: rgb(184, 184, 183);
}

#resetCaro {
  padding: 10px;
  text-align: center;
}

#resetCaro button {
  cursor: pointer;
  font-family: "Lobster", cursive;
  font-size: 20px;
  color: #1c3158;
  display: block;
  margin: 40px auto;
  padding: 5px 20px;
  border-radius: 50px;
  transition: 0.5s;
}

#resetCaro button:hover {
  background-color: #1c3158;
  color: white;
}

/*# sourceMappingURL=main.css.map */
